*{
  font-family: 'Open Sans', sans-serif;;
}
#root{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('https://wallpapercave.com/wp/wp3223743.jpg');
}
.container{
  width: 100%;
  height: 350px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 4px solid silver;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
}
.block1{
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.block2{
  width: 50%;
}
.icon{
  width: 250px;
}
.header{
  width: 100%;
  display: flex;
  align-items: center;
  height: 50%;
  justify-content: center;
}
.days{
  display: flex;
  width: inherit;
  justify-content: flex-start;
  margin-top: 30px;
}
.day-icon{
  width: 100px;
  height: 90px;
}
.day{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  border: 2px solid silver;
  border-radius: 20px;
  margin: 0 20px;
  background-color: rgba(255, 255, 255, 0.3);
  flex-grow: 1;
  cursor: pointer;
}